/finalyearproject
/launch_env.txt
/commands.txt
/activateVE.txt
/dataset
/images
/removed.txt
/recognize_video.py
/extract_embeddings.py
/recognize.py
/crud.py
/config.py
/spreadsheets
/dataset
/finalyearproject
/migrations
/activateVE.txt
/commands.txt
/crud.py
/data.sqlite
/launch_env.txt
/livestream_detect.zip
/removed.txt
/simulation.py
/args.py
